<div class="login-box">
  <div class="text-center" style="color: red; padding-top: 20px;">
    <h1>opps!</h1>
    <p>You don't have an account yet !</p>
  </div>
  <form action="/">
    <div class="row">
      <div class="col">
        <button type="submit" class="btn custom-button">
          <a href="/create" class="text-decoration-none text-reset">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            create
          </a>
        </button>
      </div>
      <div class="col text-end">
        <button type="submit" class="btn custom-button">
          <a href="/" class="text-decoration-none text-reset">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            back
          </a>
        </button>
      </div>
    </div>
  </form>
</div>
